.grid {
  columns: 1; /* Mobile: 1 column */
}

@media (min-width: 640px) {
  .grid {
    columns: 2 180px; /* Tablet: 2 columns */
  }
}

@media (min-width: 1024px) {
  .grid {
    columns: 3 220px; /* Desktop: 3 columns */
  }
}

.item {
  break-inside: avoid;
  margin-bottom: 12px;
  cursor: pointer;
}

.image {
  width: 100%;
  display: block;
  filter: saturate(0.5);
 
  /* border-radius: 8px; */
}