.grid {
  columns: 3 100px;
}

.item {
  break-inside: avoid;
  margin-bottom: 12px;
  cursor: pointer;
}

.image {
  width: 100%;
  display: block;
  filter: saturate(0.5);
 
  /* border-radius: 8px; */
}